<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
        <add name="DocumentClassificationDB" 
    connectionString="Data Source=LAPTOP-V7BUQDEO\SQLEXPRESS;Initial Catalog=DocumentClassification;Integrated Security=true" 
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>